body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color:  rgba(245, 245, 245, 0.692);
}

header {
    text-align: center;
    background-color: rgb(182, 182, 182);
    padding: 10px;
}

footer{
    text-align: center;
    background-color: rgb(182, 182, 182);
    padding: 5px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(192, 192, 192);
    padding: 5px;
}

nav ul{
    display: inline-flex;
    gap: 200px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

section {
    display: flex;
    gap: 10px;
}

#cabecalho {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    margin: 30px;
    margin: auto;
}

#image_api{
    width: 300px;
}

#image_framework{
    width: 300px;
}

#image_opensource{
    width: 300px;
}

#foto_mauricio {
    width: 200px;
    border-radius: 100%;
}

article {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: 2px solid black;
    flex-basis: calc(100%/3 - 20px);
    border-radius: 5%;
}
